*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom right, rgb(0, 132, 255), rgb(0, 200, 255));
}

.cantainer{
    background-color: aqua;
}

button{
    height: 160px;
    width: 160px;
    border: 1px solid aqua;
    color: black;
}

.row-1{
    border-top-style: none;
}

.row-3{
    border-bottom-style: none;
}

.coloumn-1{
    border-left-style: none;
}

.coloumn-3{
    border-right-style: none;
}