@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(0, 132, 255), rgb(0, 200, 255));
}

#result {
    font-size: 58px;
    color: #00e8ff;
    font-family: 'Roboto', sans-serif;
}

.cantainer {
    background-color: rgb(227 232 235);
    border-radius: 22px;
    padding: 11px;
    min-width: 70px;
    min-height: 70px;
}

.rows {
    word-spacing: -10px;
}

.box {
    height: calc(25em/2.5);
    width: calc(25em/2.5);
    border-radius: 20px;
    margin: 3px;
    background: #71d4bd3d;
    border: none;
}

.box span {
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Seymour One', sans-serif;
}

.cross {
    text-shadow: 0px 20px 20px #28b1d0c2;
    background: linear-gradient(to bottom, #00ffff, #1017e7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.circle {
    text-shadow: 0px 20px 20px #ffbb47a1;
    background: linear-gradient(to bottom, #ffe000, #ff6600);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.restart {
    background: #208eff;
    border: none;
    margin-top: 25px;
    padding: 6px 31px;
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 30px;
}